In [3]:
import pandas as pd

In [8]:
df = pd.read_csv("partidas.csv", sep = ",", encoding = "UTF-8")

df2 = pd.read_csv("cartoes.csv", sep = ",", encoding = "UTF-8")

df3 = pd.read_csv("gols.csv", sep = ",", encoding = "UTF-8")

In [9]:
df.info()

df2.info()

df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7645 entries, 0 to 7644
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  7645 non-null   int64
 1   rodada              7645 non-null   int64
 2   data                7645 non-null   object
 3   hora                7645 non-null   object
 4   dia                 7645 non-null   object
 5   mandante            7645 non-null   object
 6   visitante           7645 non-null   object
 7   formacao_mandante   2671 non-null   object
 8   formacao_visitante  2671 non-null   object
 9   tecnico_mandante    3035 non-null   object
 10  tecnico_visitante   3035 non-null   object
 11  vencedor            7645 non-null   object
 12  arena               7645 non-null   object
 13  mandante_placar     7645 non-null   int64
 14  visitante_placar    7645 non-null   int64
 15  mandante_estado     7645 non-null   object
 16  visitante_estado    7645 non-null   object
 17  estado_vencedor     7645 non-null   object
dtypes: int64(4), object(14)
memory usage: 1.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14768 entries, 0 to 14767
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   partida_id  14768 non-null  int64
 1   rodada      14768 non-null  int64
 2   clube       14768 non-null  object
 3   cartao      14768 non-null  object
 4   atleta      14762 non-null  object
 5   num_camisa  14382 non-null  float64
 6   posicao     13570 non-null  object
 7   minuto      14768 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 923.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7081 entries, 0 to 7080
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   partida_id  7081 non-null   int64
 1   rodada      7081 non-null   int64
 2   clube       7081 non-null   object
 3   atleta      7081 non-null   object
 4   minuto      7081 non-null   object
dtypes: int64(2), object(3)
memory usage: 276.7+ KB